/* When we don't set border-bottom-color, color of a text is used as a default */
.one {
  color: #6CC644;
  border-bottom: medium solid;
}

/* When we don't set border-bottom-style, default style <none> will be used - therefore 
no border will be rendered */
.two {
  border-bottom: 1px red;
}

/* Other border-bottom style example */
.three {
  border-bottom: dotted 2px red;
}
